
<!-- Source:
Build a User Login System With Flask-Login, Flask-WTForms, Flask-Bootstrap, and Flask-SQLAlchemy 
https://www.youtube.com/watch?v=8aTnmsDMldY&t=519s -->

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}


{% block content %}
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button type="submit">Sign In</button>
        
         <br>
            <div>
                Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.
            </div>
      </form>

    </div> <!-- /container -->
{% endblock %}