
<!-- Source:
Build a User Login System With Flask-Login, Flask-WTForms, Flask-Bootstrap, and Flask-SQLAlchemy 
https://www.youtube.com/watch?v=8aTnmsDMldY&t=519s -->

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="/signup">
    <h2 class="form-signin-heading">Sign Up</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.password) }}
    <button type="submit">Sign Up</button>
  </form>

</div> 
{% endblock %}