<!-- <form action="/new" method="POST">
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <input type="submit"></input>
</form> -->

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
<head>
</head>
<body>
{% for item in items %}
  <h1> {{ item.username}} </h1>
{% endfor %}
</body>
</html>